<!DOCTYPE html>
<html>

<head>
	<title>DEMO</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">avaldecantos</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
				<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
				<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<main class="col-md-12">



				<!-- Start your code here -->

				<h2>TABLES</h2>
				<table>
					<caption>Countries</caption>
					<tr>
						<th>Country</th>
						<th>Continent</th>
						<th>population</th>
					</tr>
					<tr>
						<td>Canada</td>
						<td>NA</td>
						<td>12000000</td>
					</tr>
					<tr>
						<td>Merica</td>
						<td>NA</td>
						<td>123456789</td>
					</tr>
					<tr>
						<td colspan="2">
							<center>Australia</center>
						</td>
						<td>159357456</td>
					</tr>
				</table>

				<table>
					<caption>Second important Table</caption>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Age</th>
					</tr>
					<tr>
						<td>Pritesh</td>
						<td>Patel</td>
						<td>25</td>
					</tr>
					<tr>
						<td>Aileen</td>
						<td>Valdecantos</td>
						<td>40</td>
					</tr>
					<tr>
						<td colspan="2">
							<center>kid</center>
						</td>
						<td>5</td>
					</tr>
				</table>
				<p>
					These are our Allies
				</p>

				<hr>
				<h2>LISTS</h2>
				<ul>
					<li>List Item 1</li>
					<li>List Item 2</li>
					<li>List Item 3</li>
					<li>List Item 4</li>
					<li>List Item 5
						<ol>
							<li>L 1</li>
							<li>L 2</li>
							<li>L 3</li>
						</ol>
					</li>
				</ul>
				<p>
					this is a list within a list
				</p>

				<hr>
				<h2>IMAGES</h2>
				<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
					alt="Snowboarder in halfpipe">
				<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
					alt="Snowboarder in halfpipe" width="400" height="300" style="border: 1px solid black;">
				<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
					alt="Snowboarder in halfpipe" width="200" height="150" style="border: 1px solid black;">

				<hr>
				<h2>AUDIO</h2>
				<audio controls>
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
						type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
				<audio controls autoplay loop>
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg"
						type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
				<p>
					These are our audio players
				</p>
				<hr>
				<h2>VIDEO</h2>
				<video controls width="640" height="360">
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
						type="video/mp4">
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
						type="video/ogg">
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm"
						type="video/webm">
					Your browser does not support the video tag.
				</video>
				<video controls autoplay loop width="640" height="360">
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
						type="video/mp4">
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
						type="video/ogg">
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm"
						type="video/webm">
					Your browser does not support the video tag.
				</video>
				<p>
					These are our video players
				</p>

				<!-- End your code here  -->



			</main>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>